*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
    list-style: none;
    background-image: url("bgimage.png");
    background-size: cover;
}
html{
    font-size: 65.5%;
}
#root{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 100vh;
}
.header{
   display: flex;
   padding: 1rem 9%;
   align-items: center;
   background: none;
   background-color: #ededed;
   position: sticky;
   top: 0;
}
.header .logo{
    margin-right: auto;
    display: flex;
    align-items: center;
    background: none;
    background-color: #ededed;
}
.header .logo img{
    height: 5rem;
    width: 5rem;
   border-radius: 50%;
}
.header .logo h1{
    padding: 0 1.5rem;
    background: none;
    background-color: #ededed;
}
.header .icons{
    /* background: none;
    background-color: #ededed; */
}
.header .icons i{
    font-size: 2.5rem;
    padding: 0 1rem;
    cursor: pointer;
    background: none;
    background-color: #ededed;
}
.footer{
    display: flex;
    padding: 1.5rem 9%;
    background: none;
    background-color: #ededed;
    z-index: 200;
    position: sticky;
     bottom: 0;
}
.footer .icons{
    background: none;
    background-color: #ededed;
}
.footer .icons i{
    padding: 1rem;
    font-size: 2.8rem;
    cursor: pointer;
    background: none;
    background-color: #ededed;
}
.footer .icons .rotate{
    transform: rotate(50deg);
}
.footer input{
    padding: 0;
    width: 100%;
    border-radius: 2rem;
    padding: 1.5rem;
    font-size: 1.5rem;
    background: none;
    background-color: white;
    border: 1px solid lightgray;
}
.footer .icons{
  display: flex;
}
.content{
    padding: 0 9%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    height: -webkit-fill-available;
}
.content .message_box{
    padding: 1rem;
    background: none;
    background-color: #dcf8c6;
    border-radius: .7rem;
    border-top-right-radius: 0%;
    margin: 1rem;
    width: fit-content;
}
.content .message_box .message{
    font-size: 1.5rem;
    background: none;
    background-color: #dcf8c6; 
    display:inline;  
    
}

/* media query */
@media (max-width:759px){
    html{
        font-size: 55%;
    }
    .footer,.header{
        padding: 1rem 4%;
    }
}
